NEXT_PUBLIC_SUPABASE_URL=https://gpdjacajxnqianxiqxon.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZGphY2FqeG5xaWFueGlxeG9uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE4ODg1OTksImV4cCI6MjA3NzQ2NDU5OX0.n-b9_jO8cBr6S-EX3ly_aCb3oMyjMG3sXLMT-yhb7tw
